root = false

[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = none
# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = none
# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none
# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none
# S3376: Attribute, EventArgs, and Exception type names should end with the type being extended.
dotnet_diagnostic.S3376.severity = none
# S4158: Empty collections should not be accessed or iterated.
dotnet_diagnostic.S4158.severity = none
# S6608: Prefer indexing instead of "Enumerable" methods on types implementing "IList"
dotnet_diagnostic.S6608.severity = none

## ReSharper

# Possible 'System.NullReferenceException'
resharper_possible_null_reference_exception_highlighting = none
# Expression is always null
resharper_expression_is_always_null_highlighting = none
# Use collection expression syntax
resharper_use_collection_expression_highlighting = none
# Type member is never used (non-private accessibility)
resharper_unused_member_global_highlighting = none
# Member can be made private (non-private accessibility)
resharper_member_can_be_private_global_highlighting = none
# Redundant type declaration body
resharper_redundant_type_declaration_body_highlighting = none