name: CI/CD
on:
  pull_request:
    paths:
      - 'src/**'
      - 'GitVersion.yml'
      - '.github/workflows/cicd.yml'
      - '.github/actions/materialize-signing-key/**'
    types: [opened, synchronize, reopened]
  push:
    branches:
      - 'master'
    paths:
      - 'src/**'
      - 'GitVersion.yml'
      - '.github/workflows/cicd.yml'
      - '.github/actions/materialize-signing-key/**'
  workflow_dispatch:
    inputs:
      buildAutoFakeItEasy:
        description: 'Build AutoFakeItEasy'
        required: true
        type: boolean
        default: true
      buildAutoMoq:
        description: 'Build AutoMoq'
        required: true
        type: boolean
        default: true
      buildAutoNSubstitute:
        description: 'Build AutoNSubstitute'
        required: true
        type: boolean
        default: true
      environment:
        description: 'Environment'
        type: environment
        required: true
        default: prod
defaults:
  run:
    shell: pwsh
jobs:
  init:
    uses: ./.github/workflows/init.yml
    with:
      buildAutoFakeItEasy: ${{github.event_name != 'workflow_dispatch' || inputs.buildAutoFakeItEasy == true}}
      buildAutoMoq: ${{github.event_name != 'workflow_dispatch' || inputs.buildAutoMoq == true}}
      buildAutoNSubstitute: ${{github.event_name != 'workflow_dispatch' || inputs.buildAutoNSubstitute == true}}
  build-test-pack:
    needs: init
    strategy:
      matrix:
        module-name: ${{ fromJSON(needs.init.outputs.modules) }}
    if: ${{ needs.init.outputs.modules != '' }}
    uses: ./.github/workflows/build-test-pack.yml
    with:
      configuration: ${{ needs.init.outputs.configuration }}
      module-name: ${{ matrix.module-name }}
      module-namespace: ${{ needs.init.outputs.namespace }}
      version: ${{ needs.init.outputs.version }}
    secrets:
      signing-key-value: ${{ secrets.SIGNING_KEY }}
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
  publish:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 15
    needs: build-test-pack
    environment: ${{ inputs.environment }}
    if: ${{ inputs.environment != null }}
    steps:
      - name: 🔽 download packages
        uses: actions/download-artifact@v3
        with:
          name: packages
      - name: 📤 push
        run: dotnet nuget push **/*.nupkg  --api-key ${{ secrets.NUGET_API_KEY }} --source "nuget.org" --skip-duplicate
  tag:
    needs: [publish, init]
    # Allow tagging only on the master branch when publish was successful
    if: ${{ github.ref_name == 'master' && needs.publish.result == 'success' }}
    uses: ./.github/workflows/tag.yml
    with:
      version: ${{ needs.init.outputs.version }}
